services:
  bot:
    build:
      context: bot
      dockerfile: ../Dockerfile
    env_file:
      - .env

  web:
    build:
      context: bot
      dockerfile: ../Dockerfile
      target: builder
    ports:
      - 8080:8080
    env_file:
      - .env
